{% extends 'main/home.html'%}
{% block body %}

      <h2>Про нас</h2>
      <p>Біржа - це провідна онлайн-платформа для торгівлі зерном та супутніми продуктами. Ми забезпечуємо широкий спектр послуг та можливостей для зернових фермерів, постачальників, торгових компаній та інших учасників ринку.</p>
      <p>Наша мета полягає в наданні надійної та прозорої платформи, що сприяє ефективній торгівлі зерном. Ми працюємо над забезпеченням швидкості, надійності та безпеки в наших торгових операціях.</p>
      <img src="team.jpg" alt="Наша команда" style="width: 100%; max-height: 300px; object-fit: cover;">
      <p>Ми співпрацюємо з великим спектром партнерів, включаючи фермерів, постачальників зерна, торгові компанії та інші сторони, що допомагають нам забезпечувати високоякісні продукти та надійні послуги для наших клієнтів.</p>
      <p>Ми прагнемо створити сприятливу торговельну екосистему, де учасники ринку можуть здійснювати торгівлю зерном швидко, ефективно та безпечно.</p>
      <img src="partners.jpg" alt="Наші партнери" style="width: 100%; max-height: 300px; object-fit: cover;">
      <p>Наша команда має багаторічний досвід у галузі зернової торгівлі та завжди працює над удосконаленням наших сервісів для задоволення потреб наших клієнтів.</p>
      <p>Дякуємо, що обрали нас як свого партнера у зерновій торгівлі. Ми завжди готові допомогти вам у ваших торговельни


{% endblock %}