{% extends 'main/home.html'%}
{% block body %}
    <div class="features">
        <table class="table" >
                <tr >
                    <th class="active">Дата</th>
                    <th class="active">Контрагент</th>
                    <th class="active">Тип пропозиції</th>
                    <th class="active">Культура</th>
                    <th class="active">Об'єм</th>
                    <th class="active">Ціна</th>
                    <th class="active">Умови</th>


                </tr>

                {% for el in prices %}
                        <tr >
                            <td class="active">{{ el.data }}</td>
                            <td class="active"><a href="{% url 'not_my_profile' %}">{{ el.company }}</a></td>
                            <td class="active">{{ el.typeOfProposition }}</td>
                            <td class="active">{{ el.culture }}</td>
                            <td class="active">{{ el.volume }}</td>
                            <td class="active">{{ el.price }}</td>
                            <td class="active">{{ el.condition }}</td>



                        </tr>
                    {% endfor %}




        </table>
    </div>


{% endblock %}